*{
    padding:0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    align-content: center;
}

body{
    background-color: white;
    width: 100%;
    height: 100%;

}
#veryTop{
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 30px;
    color: black;
    margin-right: 30%;
    margin-left: 30%;
    margin-top: 5px;

}
.navBar{
    width: auto;
    height: 40px;

    background-color: #4f8683;
    margin-right: 5%;
    margin-left: 5%;

    margin-top:20px;
    display: block;
    border-radius: 4px;
    border-bottom: solid 30px #099500;
    box-shadow: 0px 0px 20px 3px #d3d3d3;

}
.navBar ul li{
    float: left;

}
.navBar ul li a{
    float: left;
    margin-left: 10px;
    margin-top: 13px;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.75);
    width: auto;
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 90%;
    display: inline;
}

.navBar a{
    float: right;
    margin-right: 30px;
    margin-top: 13px;
    text-decoration: none;
    color:darkgreen;
    width: auto;
    font-family: 'Open Sans', Arial, sans-serif;
    font-size-adjust: none;
    display: block;
}

.contentWrapper{
    width: auto;
    height: auto;
}
.CB{
    margin-right: 5%;
    margin-left: 5%;
    margin-top: 15px;
    margin-bottom: 10px;
    height: auto;
    background-color: white;
    font-size: 25px;
    border-top: 30px solid #4f8683;


    border-radius: 3px;
    color: rgba(20, 20, 20, 0.75);
    box-shadow: 0px 0px 20px 3px #d3d3d3;
    border-bottom: solid 30px #099500;
}
.credit{
    align-content: center;
    margin:0 42% 0 42%;
    font-size: 12px;


}




